Werkzeug==2.3.6
Flask
openai==0.27.1
flask_caching
Flask_Cors
flask_jwt_extended
Flask_Login
Flask_RESTful
flask_sqlalchemy
flask_swagger_ui
Jinja2
bcrypt
pytz
Requests
gunicorn
redis
scikit-learn
Flask-OAuthlib
python-dotenv
